#main-page {
    margin: 100px 0 0 0;
}
#window {
    border: 1px solid;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: flex; 
    overflow: hidden;
}

#window img {
    width: 200px;
    animation: move 10s infinite;
    margin-left: 100px;
}
    /* transform: translate (-200px, 0);
    animation: move 5s infinite;
} */
@keyframes move {
    from{
        transform: translateX(0%)
    }
    to{
        transform: translateX(-300%);
    }
}